{% extends 'base.html.twig' %}

{% block title %}ArticlePage{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Confirm Page</h1>

    <p>Your new article with the id # has been confirmed</p>

    {# 'Save new article with id ' . $article->getId() ) #}

    <a href="{{ path('app_nav_home') }}">Return Home</a>

</div>
{% endblock %}